html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.body {
    margin-top: 40px;
    background-color: red;
}

#input {
    padding-top: 20px;
}

.AppTitleText {
    padding-top: 6px;
}


.btn:hover:not([disabled]) {
    background-color: #4caf50; /* Change this to your desired hover color */
}
  
.btn:disabled {
cursor: not-allowed;
opacity: 0.6;
}

.btn.running:hover {
background-color: initial;
/* Add any other styles for the running state */
}

.btn.disabled:hover {
background-color: initial;
/* Add any other styles for the disabled state */
}