
#Monitor {
    padding-top: 0px;
    padding-right: 10px;

}

#GraphMonitor {
    padding-top: 20px;
    padding-right: 10px;
}

#field {
    padding: 10px;
}

#PageBorder {
    padding: 50px;
    padding-top: 10px;
}

#PingBorder {
    margin-top: 10px;
    padding-top: 10px;
    border: 2px solid #000; /* You can customize the width, style, and color */
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#HealthMonitor {
    padding-top: 15px;
}

#GraphMonitors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Optional: Adjust the height to fit your layout */
}
  
#GraphMonitors > div {
    text-align: center;
}

.flashing-text {
    animation: flashText 1s ease-out; /* Adjust the duration as needed */
  }
  
  @keyframes flashText {
    0%,
    15%,
    100% {
      color: lightgreen; /* Flashing text color */
    }
}

.historyList .MuiTypography-root {
    font-size: 11px !important; /* Set the font size for history list items */
}

.red-text {
    color: red;
  }